#number-of-tweets {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(62, 65, 68);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  border-right: 1px solid rgb(62, 65, 68);
  border-left: 1px solid rgb(62, 65, 68);
  box-sizing: border-box;

}
