.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  width: 16px;
  height: 16px;
  background-color: white;
  background-image: url(pic/cell.png);
  border: 1px solid black;
}

.player {
  background-image: url(pic/Player16x16.png);
}

.sword {
  background-image: url(pic/sword_16x16.png);
}

.potion {
  background-image: url(pic/items.png);
}

.wall {
  background-image: url(pic/wall_16x16.png);
}

.line {
  display: flex;
}

.title {
  margin-bottom: 32px;
}

.buttons {
  margin-top: 32px;
  display: flex;
  align-items: flex-end;
}

.buttons-players {
  margin-right: 70px;
  display: flex;
  flex-direction: row;
}

.up-down {
  display: flex;
  flex-direction: column;
}

button {
  margin: 2px;
  width: 7ch;
}

.item {
  display: flex;
  align-items: center;
}

.item-name {
  margin-left: 12px;
  margin-top: 4px;
  font-size: 1rem;
}
